{% extends '_layout.html' %}

{% block title %}BYTE | Contact Us {% endblock %}

{% block body %}
<img class=" img-fluid box-outline" src="static/imgs/CEO-Pasi.jpg" alt="People">
</div>
<div class="col-md-6">
  <div class="rules box-outline-2">
    <h2 class="rules-title">Want to Connect??</h2>
    <div class="rules-info">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, atque. Enim, at earum praesentium natus reprehenderit impedit nam hic quasi exercitationem ab voluptatem harum, inventore quam sed officiis assumenda odio corporis! Voluptatem incidunt at temporibus sunt quaerat consequatur laboriosam, recusandae ipsa ullam sint aperiam, dignissimos tempore? A reprehenderit quisquam quibusdam ipsam id fugit laboriosam possimus molestias perspiciatis in quod, qui nihil obcaecati neque ad illum ea nulla, culpa distinctio corrupti! Animi fugiat corporis hic consequuntur labore tempore voluptatum non fugit dolorem natus, aperiam culpa ad laudantium laboriosam similique molestiae voluptatibus. Eaque inventore fugiat blanditiis reprehenderit omnis assumenda? Accusamus, eveniet assumenda.</p>
    
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="faq box-outline">
    <img class="img-fluid" src="static/imgs/BYTE-logo.jpg" alt="BYTE LOGO">
  </div>
  <div class="accordion rules-acc" id="accordionExample">
    <div class="accordion-item box-outline">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Phone
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li> +1 9193706681</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item box-outline">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Email
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li> pgonese@uncc.edu</li>
           <li> dnair1@uncc.edu</li> 
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item box-outline">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Location
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li> University of North Carolina at Charlotte,
              Department of Bioinformatics and Genomics,
              9201 University City Blvd. Charlotte,
              NC 28223-0001</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}