{% extends '_layout.html' %}

{% block title %} BYTE | Home {% endblock %}

{% block body %}
</div>
<div class="col-md-6">
    <div class="d-flex mb-3 post-nav box-outline">
        <div class="p-2 trending-post">
            <a class="inactive" href="/"> Videos </a>
        </div>
        <div class="p-2 trending-post">
            <a class="inactive" href="/"> Games </a>
        </div>
        <div class="p-2 trending-post">
            <a class="inactive" href="/"> Articles </a>
        </div>
        <div class="p-2 trending-post">
            <a class="inactive" href="/"> Flash-Cards </a>
        </div>   
        
    </div>

    <div class="container user-post box-outline">
            <div class="col-10">
                <img class="img-fluid" src="static/imgs/teenagers-high-school-middle-school-students.jpg" alt="The Future">
            </div>
    </div>
</div>


<div class="col-md-3">
    <div class="leaderboard box-outline">
     
        <img class="img-fluid" src="static/imgs/BYTE-logo.jpg" alt="BYTE LOGO">

    </div>
</div>

{% endblock %}